@import 'tailwindcss';

@font-face {
    font-family: 'main';
    src: url('/gerenciador/public/fonts/NotoSans-VariableFont_wdth,wght.ttf');
}

@custom-variant dark (&:where(.dark, .dark *));

html, body {
    min-height: 100vh;
    max-width: 100vw;

    font-family: 'main', Arial, Helvetica, sans-serif;
}

div#root {
    min-height: 100vh;
    max-width: 100vw;
}

.ativado {
    @apply dark:text-[#09153eff] bg-[#c7221aff] text-white
}

.labelActive {
    @apply bg-[#de473fff]
}

.btnactive {
    transform: translateX(23px);
}
